body {
    background-color: #28a745;
}

.card {
    background-color: #28a745 !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.card h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: red;
}

.card form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
    color: white;
    font-weight: bold;
}

.card input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
}

.card input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.balance-container {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.digit-box {
  width: 20%;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 3;
}


.leaderboard-icon {
  width: 20px !important;
  height: 20px;
  margin-right: 5px !important;
}

.leaderboard-page {
  background-image: url('./slot_machines.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
}

.leaderboard-entry {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: bold;
  min-height: 30px;
  width: 100%;
}

.crowned {
  border: 2px solid red;
  position: relative;
}

.crowned::before {
  content: '';
  background-image: url('./crowns.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.entry-rank,
.entry-name,
.entry-balance {
  display: block;
  margin-bottom: 5px;
}

.header-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: black;
  width: 50%;
}
